PyMarkov==0.1.0
SQLAlchemy==0.8.3
csvkit==0.6.1
dbf==0.95.004
geonamescache==0.10
openpyxl==1.7.0
patsy==0.2.1
pyshp==1.2.0
python-dateutil==2.2
statsmodels==0.5.0
unicodecsv==0.9.4
wbdata==0.2.1
xlrd==0.9.2
